<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<jmxConfigurator />

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%logger{0} - %msg %n</pattern>
		</encoder>
	</appender>

    <logger name="us.dot.its.jpo.ode.messagesender" level="INFO"/>

	<root level="WARN">
		<appender-ref ref="STDOUT" />
	</root>
</configuration>