#General Properties
#==================
groupId: ^project.groupId^
artifactId: ^project.artifactId^
version: ^project.version^
server.port: 8085

# Kafka properties
spring.kafka.bootstrap-servers: ${KAFKA_BROKER_IP:localhost}:9092
logging.level.org.apache.kafka: INFO
logging.level: INFO
log4j.logger.kafka: OFF
log4j.logger.org.apache.kafka: OFF



# Processed Map Configuration
kafkaTopicProcessedMap: topic.ProcessedMap
kafkaTopicDeduplicatedProcessedMap: topic.DeduplicatedProcessedMap
enableProcessedMapDeduplication: true

# Processed Map WKT Configuration
kafkaTopicProcessedMapWKT: topic.ProcessedMapWKT
kafkaTopicDeduplicatedProcessedMapWKT: topic.DeduplicatedProcessedMapWKT
enableProcessedMapWktDeduplication: true

# Ode Map Json Configuration
kafkaTopicOdeMapJson: topic.OdeMapJson
kafkaTopicDeduplicatedOdeMapJson: topic.DeduplicatedOdeMapJson
enableOdeMapDeduplication: true

# Ode Tim Json Configuration
kafkaTopicOdeTimJson: topic.OdeTimJson
kafkaTopicDeduplicatedOdeTimJson: topic.DeduplicatedOdeTimJson
enableOdeTimDeduplication: true

# Ode Bsm Json Configuration
kafkaTopicOdeBsmJson: topic.OdeBsmJson
kafkaTopicDeduplicatedOdeBsmJson: topic.DeduplicatedOdeBsmJson
enableOdeBsmDeduplication: true
odeBsmMaximumTimeDelta: 10000 # Milliseconds
odeBsmMaximumPositionDelta: 1 # Meter
odeBsmAlwaysIncludeAtSpeed: 1 # Meter / Second




# Custom kafka properties
kafka.topics:
  autoCreateTopics: true  # Override auto-create in test properties
  numPartitions: 1
  numReplicas: 1
  createTopics:
    - name: ${kafkaTopicProcessedMap}
      cleanupPolicy: delete
      retentionMs: 300000
    - name: ${kafkaTopicDeduplicatedProcessedMap}
      cleanupPolicy: delete
      retentionMs: 300000
    - name: ${kafkaTopicProcessedMapWKT}
      cleanupPolicy: delete
      retentionMs: 300000
    - name: ${kafkaTopicDeduplicatedProcessedMapWKT}
      cleanupPolicy: delete
      retentionMs: 300000
    - name: ${kafkaTopicOdeMapJson}
      cleanupPolicy: delete
      retentionMs: 300000
    - name: ${kafkaTopicDeduplicatedOdeMapJson}
      cleanupPolicy: delete
      retentionMs: 300000
    - name: ${kafkaTopicOdeTimJson}
      cleanupPolicy: delete
      retentionMs: 300000
    - name: ${kafkaTopicDeduplicatedOdeTimJson}
      cleanupPolicy: delete
      retentionMs: 300000
    
    