html, body { 
    height: 100%;
    margin: 0;
    font-family: sans-serif;
}

h2, h3 {
    margin: 0px;
    padding: 0px;
}

h3 {
    font-size: 1em;
}

hr {
    margin: 2px;
}

.container {
    display: flex;
    height: 100%;
}

#map {
    background-color: black;
    width:60%;
}

.side {
    display: flex;
    flex-direction: column;
    height:100%;
}
.sideHeader {
    padding: 5px;
}
.sideItem {
    flex-grow: 1;
    padding: 5px;
}

.sideItem > div {
    padding: 5px;
}

h1, h2 {
    margin-top: 0px;
}

.jsonDocument {
    white-space: pre;
    font-family: sans-serif;
    font-size: 0.8em;
    flex-grow: 1;
    overflow: scroll;
    border: 1px solid black;
}

.tableContainer {
    border: 1px solid black;
    font-size: 0.8em;
    flex-grow: 1;
    display: flex;
    overflow: scroll;
}

.selectTable {
    flex-grow: 1;
    border-collapse: collapse;
    font-size: 0.8em;
    font-family: sans-serif;
}



.selectTable th {
    font-weight: bold;
    text-align: center;
}

.selectTable td {
    padding: 0px 0px 0px 3px;
}

.selectTable, .selectTable th, .selectTable td {
    border: 1px solid;
}

#uploads label {
    font-weight:bold;
    font-size:0.9em;
}

#uploads input {
    margin: 2px;
}

.infoDocument {
    font-family: sans-serif;
    font-size: 1em;
}

.infoDocument li {
    margin: 5px;
}

.infoDocument h2 {
    margin: 10px;
}










