#General Properties
#==================
groupId: ^project.groupId^
artifactId: ^project.artifactId^
version: ^project.version^
server.port: 8082


# Algorithm Properties
map.validation:
  algorithm: defaultMapValidationAlgorithm
  properties: default
spat.validation:
  algorithm: defaultSpatValidationAlgorithm
  properties: default
connection.of.travel:
  algorithm: defaultConnectionOfTravelAlgorithm
  properties: debug
lane.direction.of.travel:
  algorithm: defaultLaneDirectionOfTravelAlgorithm
  properties: debug
signal.state.vehicle.crosses:
  algorithm: defaultSignalStateVehicleCrossesAlgorithm
  properties: debug
signal.state.vehicle.stops:
  algorithm: defaultSignalStateVehicleStopsAlgorithm
  proprties: debug
map.spat.message.assessment:
  algorithm: defaultMapSpatMessageAssessmentAlgorithm
  properties: debug
spat.time.change.details:
  algorithm: defaultSpatTimeChangeDetailsAlgorithm
  properties: debug
map.time.change.details:
  algorithm: defaultMapTimeChangeDetailsAlgorithm
  properties: debug
signal.state.event.assessment:
  algorithm: defaultSignalStateEventAssessmentAlgorithm
  properties: debug
lane.direction.of.travel.assessment:
  algorithm: defaultLaneDirectionOfTravelAssessmentAlgorithm
  properties: debug
connection.of.travel.assessment:
  algorithm: defaultConnectionOfTravelAssessmentAlgorithm
  properties: debug
repartition:
  algorithm: defaultRepartitionAlgorithm
  properties: debug
intersection.reference.alignment.notification:
  algorithm: defaultIntersectionReferenceAlignmentNotificationAlgorithm
  properties: debug


# Kafka properties
spring.kafka.bootstrap-servers: localhost:9092

# Custom kafka properties
kafka.topics:
  autoCreateTopics: true  # Override auto-create in test properties
  numPartitions: 1
  numReplicas: 1
  createTopics:
    - name: topic.CmMapBroadcastRateEvents
      cleanupPolicy: delete
      retentionMs: 300000
    - name: topic.CmMapMinimumDataEvents
      cleanupPolicy: delete
      retentionMs: 300000
    - name: topic.CmSpatBroadcastRateEvents
      cleanupPolicy: delete
      retentionMs: 300000
    - name: topic.CmSpatMinimumDataEvents
      cleanupPolicy: delete
      retentionMs: 300000
    - name: topic.CMBsmEvents
      cleanupPolicy: delete
      retentionMs: 300000
    - name: topic.CmConnectionOfTravelEvent
      cleanupPolicy: delete
      retentionMs: 300000
    - name: topic.CmLaneDirectionOfTravelEvent
      cleanupPolicy: delete
      retentionMs: 300000
    - name: topic.CmSignalStateEvent
      cleanupPolicy: delete
      retentionMs: 300000
    - name: "topic.CmSignalStopEvent"
      cleanupPolicy: delete
      retentionMs: 300000
    - name: "topic.CmSignalGroupAlignmentEvents"
      cleanupPolicy: delete
      retentionMs: 300000
    - name: "topic.CmIntersectionReferenceAlignmentEvents"
      cleanupPolicy: delete
      retentionMs: 300000
    - name: "topic.CmSignalStateConflictEvents"
      cleanupPolicy: delete
      retentionMs: 300000
    - name: "topic.CmBsmJsonRepartition"
      cleanupPolicy: delete
      retentionMs: 300000
    - name: topic.ProcessedSpat
      cleanupPolicy: delete
      retentionMs: 300000
    - name: topic.ProcessedMap
      cleanupPolicy: delete
      retentionMs: 300000
    - name: topic.OdeBsmJson
      cleanupPolicy: delete
      retentionMs: 300000
    - name: CmSignalStateEventAssessment
      cleanupPolicy: delete
      retentionMs: 300000

# Mongo properties
spring.data.mongodb.uri: mongodb://localhost:27017/ConflictMonitor
spring.data.mongodb.database: ConflictMonitor